:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header {
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-logo-span {
  color: var(--dark-color);
}

.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

.header-link-adress {
  display: flex;
  gap: 40px;
}

.header-mailo {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-mailo:focus,
.header-mailo:hover {
  color: var(--pressed-state-color);
}

.header-tel {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-tel:focus,
.header-tel:hover {
  color: var(--pressed-state-color);
}

.hero {
  background: var(--dark-color);
}

.hero-container {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--pressed-state-color);
}

.feature {
}
.section-feature {
  padding-bottom: 0;
}

.feature-heading {
  opacity: 0;
  display: none;
}
.feature-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.feature-item {
  max-width: 264px;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.location {
}
.location-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.location-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.location-item {
}
.tem {
  background: var(--light-color);
}
.tem-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.tem-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.tem-item {
}

.tem-description {
  text-align: center;
  background: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.tem-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.tem-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: var(--dark-color);
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.footer-logo-span {
  color: var(--light-color);
}
.footer-text {
  width: 264px;
  height: 72px;
  left: 156px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-top: 16px;
}
.filter {
}
.filter-heading {
  opacity: 0;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-item {
}
.filter-btn-all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--primary-brand-color);
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
}
.filter-btn-all:hover,
.filter-btn-all:focus {
  background: var(--pressed-state-color);
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--pressed-state-color);
}

.card {
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  min-width: calc((100%-48px) / 3);
  justify-content: center;
}
.card-item {
}
.card-link {
}

.card-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: 0;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
